{% extends 'PortfolioBundle:Include:header.html.twig' %}

{% block menu %}
    <ul id="main-menu">
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
        <li>TEST</li>
    </ul>
{% endblock %}