{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}
<article class="full full-projet">

	<!-- <div id="sequence-theme">
		<ul class="controls">
			<li class="status"></li>
			<li class="prev"></li>
			<li class="pause"></li>
			<li class="next"></li>
		</ul>
		<div id="sequence">  
			<ul>
		        <li class="animate-in">
		            <img class="my-image" src="{{ asset('/bundles/portfolio/images/projet/eovi_annuaire.png') }}" alt="An image of me" />
		        </li>
		        <li>
		            <img class="my-image" src="{{ asset('/bundles/portfolio/images/projet/eovi_pages_interieurs.png') }}" alt="An image of me" />
		        </li>
		        <li>
		            <img class="my-image" src="{{ asset('/bundles/portfolio/images/projet/eovi_albums_photos.png') }}" alt="An image of me" />
		        </li>
		    </ul>
	    </div>
	</div> -->
	
    <ul>
        <li>
        	<section class="projet">
        		<div class="visuel">
        			<img src="" alt="visuel" />
        		</div>
        		<div class="accroche">
        			<p>Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
        		</div>
        	</section>
    	</li>
        <li>
        	<section class="projet">
        		<div class="visuel">
        			<img src="" alt="visuel" />
        		</div>
        		<div class="accroche">
        			<p>Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
        		</div>
        	</section>
    	</li>
        <li>
        	<section class="projet">
        		<div class="visuel">
        			<img src="" alt="visuel" />
        		</div>
        		<div class="accroche">
        			<p>Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
        		</div>
        	</section>
    	</li>
        <li>
        	<section class="projet">
        		<div class="visuel">
        			<img src="" alt="visuel" />
        		</div>
        		<div class="accroche">
        			<p>Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
        		</div>
        	</section>
    	</li>
    </ul>
</article>
{% endblock %}