.buildpath
.project
.settings

/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/config/parameters.yml

/build/
/vendor/
/bin/
/data/
/web/bundles/

.idea

.travis.yml
/LICENSE
/README.md
/UPGRADE.md
/dump/
vhost
