.buildpath
.project
.settings

app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
app/config/parameters.yml.prod

composer.lock

build/
vendor/
bin/
data/
web/bundles/
web/css/
web/js/

.idea

.travis.yml
LICENSE
README.md
UPGRADE.md
dump/
vhost

web/phpinfo.php
debug.sh
