<footer>
	{% include 'PortfolioBundle:layout:sharebar.html.twig' %}

	<section>
		<h1>Sites internet</h1>
		<ul class="liste">
			<li><a href="#">Sydev</a></li>
			<li><a href="#">Sogelink</a></li>
			<li><a href="#">Sydev</a></li>
			<li><a href="#">Sogelink</a></li>
			<li><a href="#">Sydev</a></li>
			<li><a href="#">Sogelink</a></li>
			<li><a href="#">Sydev</a></li>
			<li><a href="#">Sogelink</a></li>
		</ul>
	</section>

	<section>
		<h1>Autres projets de développement</h1>
		<ul class="liste">
			<li><a href="#">Test 1</a></li>
			<li><a href="#">Test 2</a></li>
			<li><a href="#">Test 3</a></li>
			<li><a href="#">Test 4</a></li>
		</ul>
	</section>

	<section>
		<h1>Fichiers</h1>
		<ul class="liste">
			<li><a href="#">Test 1</a></li>
			<li><a href="#">Test 2</a></li>
			<li><a href="#">Test 3</a></li>
			<li><a href="#">Test 4</a></li>
		</ul>
	</section>

	<section id="twitter">
		<h1>Derniers tweets</h1>
        <ul>
        {% for key, tweet in tweets %}
            <li>
                <article>
                    <time>{{ tweet['date'] }}</time>
                    <div>{{ tweet['text']|raw }}</div>
                </article>
            </li>
        {% endfor %}
        </ul>
	</section>

	<div id="pied_page">
		<p>2013 copyright Matthieu Cneude | Powered by Symfony 2</p>
	</div>
</footer>