.full.full-home{
    background: url("/bundles/portfolio/images/content/home/bureau_1920.jpg") no-repeat scroll 50% center;
    padding: 0 0 3em 0;
    height: 80em;

    > header {
        margin: 22% 0 25% 0;
        > h1, .accroche{
            color: @blanc;
        }
        > h1{
            font-size: 3.5em;
            margin: 1em 25% 0 25%;
            text-align: center;
            border: none;
            width: 50%;
        }
        .accroche{
            font-size: 3em;
            text-align: center;
            margin: 0;
        }
    }
}


/*****************/
/*    MOBILE     */
/*****************/

@media screen and (max-width: 760px){
    .full.full-home{
        background: url("/bundles/portfolio/images/content/home/bureau_760.jpg") no-repeat scroll 50% center;
        height: auto;

        > header {
            margin: 0;
            > h1{
                width: 100%;
                font-size: 2em;
                margin: 1em 0 1em 0;
            }
            .accroche{
                font-size: 1.5em;
            }
        }
        #derniers-projets{
            display: none;
        }
        .row .box .content{
            font-size: 1.5em;
        }
    }
}

/*****************/
/*    TABLETTE   */
/*****************/

@media screen and (min-width: 760px) and (max-width: 1330px) {
    .full.full-home{
        background: url("/bundles/portfolio/images/content/home/bureau_1330.jpg") no-repeat scroll 50% center;
        height: auto;
        height: 60em;

        > header {
            margin: 25% 0 0 0;

            > h1{
                width: 70%;
                margin: 1em 15%;
            }
            .accroche{
                width: auto;
            }
            > img{
                width: 100%;
                margin: 0;
            }
        }
    }
}

