.full.full-home{
    padding: 0;

    > header {
        #gradient .vertical( @dimgray, @fuscousgrey );
        padding: 1em;
        > h1{
            border-bottom: 6px solid lighten( @glacier, 20 );
            border-radius: 10px;
            color: lighten( @gris-clair, 15 );
            font-size: 4.5em;
            margin: 1em 25% 1em 25%;
            text-align: center;
            text-decoration: none;
            width: 50%;
        }
        img{
            width: auto;
            margin: 0 25% 0 25%;
            width: 50%;
            border: 2px solid @gris-clair;
        }
        .accroche{
            color: lighten( @gris-clair, 10 );
        }
    }
}