@import 'variables.less';
@import 'mixins.less';

body{
    width:100%;
    background:#FFF6A5;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    color:@gris-fonce;
}

#main{
    background:#FFFFFF;
}

#main > header{
    border-bottom:1px solid @gris-clair;    
    .clearfix;
} 


#main > footer{
    border:1px solid @noir;
    padding:1em;
    text-align:center;
}

#main-menu{
    float:right;
    > li{
        float:left;
        
        > a{
        display:block;
        padding:2em;
            .transition( background 0.5s );
            &:hover{
                background:@gris-clair;
            }
        }
    }
}


footer{
    clear:both;
}
