@import 'variables.less';
@import 'mixins.less';
@import 'fontcustom.less';

/*****************/
/*    DESKTOP    */
/*****************/

body{
    width:100%;
    position:relative;
    color:@dimgray;

    font-size: 14px;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    color:@glacier;
}

h3, h4{
	.opensanslight;
}

h1{
    .biko;
	font-size:1.8em;
	color:@glacier;
	letter-spacing:0.03em;
    border-bottom: 1px solid @glacier;
    margin: 0 0 1em 0;
}

h2{
    .opensansbold;
	font-size:1.3em;
	letter-spacing:0.05em;
    color:darken( @chatelle, 20 );
}


h3{
	font-size:1.1em;
	letter-spacing:0.03em;
	color:darken( @chatelle, 20 );
}

h4{
	font-size:1em;
    text-decoration:underline;
}

img{
    width:100%;
}


#main{
    position:relative;
}

#main > header{

	.clearfix;
	clear:both;
	margin:1em 0 0 0;
	position:relative;
	height:auto;

	&:before{
		position:absolute;
		top:-1em;
		width:100%;
		height:1em;
		#gradient .vertical( @dimgray, @fuscousgrey );
		content:'';
	}

    &:after{
        margin: 0.1em 0 0 0;
        width:100%;
        height:1em;
        #gradient .vertical( darken( @glacier, 10), darken( @glacier, 20) );

        border-top:1px solid lighten( @glacier, 20 );
        content:'';
    }

	.titres{
		width:21%;
		float:left;
		margin:0;
		padding:0;
		padding:1.3em 1em 0.5em 1.3em;

		h1{
			.felltypes( 2em );
			letter-spacing:0.05em;
			color:lighten( @gris-fonce, 20 );
			.transition( color 0.5s );
			&:hover{
				color:@glacier;
		    }

            //Annule les régles du H1 de base
            margin-bottom: 0;
            border: none;
		}
		h2{
			font-size:1em;
			margin:0;
			.opensanslight;

			clear:both;
			display:block;
			text-transform:uppercase;
			color:lighten( @gris-fonce, 10 );

			.transition( color 0.5s );

			&:hover{
                color:@ruby;
            }
		}
	}
    nav{
        float: left;
        width: 65%;
    }

    .translation{
        margin: 1.5em 0 0 0;
        float: right;
        a{
            display: block;
            float: right;
            margin: 0.5em;
        }
        img{
            width: 75%;
            .transition( all 0.5s );

            &:hover{
                .rotation( 15deg );
            }
        }
    }
}

ul#main-menu{
	width:100%;
    float:right;
    margin:0;

    > li{
        float:left;
        width:16.666666667%;
        position:relative;

        > a{
        	display:block;
        	color:@gris-fonce;
        	letter-spacing:0.05em;
        	text-align:center;

        	.opensanslight( 1.2em );
            .transition( all 0.5s );

            &:hover, &.active{
                opacity: 0.8;
            }

            &:hover{
                background: darken( @chatelle, 40 );
                .shadow( 0px 0px 20px 0px @chatelle );
                color:@blanc;
            }

            &.active{
                color: darken( @chatelle, 40 );
                .opensansbold( 1.2em) ;
                > span{
                    padding-left:0;

                    &:before{
                        opacity: 0.4;
                        color:darken( @glacier, 20 );
                        .transform( scale( 3 ) );
                    }
                }
               
            }

            > span{
            	display:block;
            	position:relative;
            	z-index:100;

            	width:100%;
        		padding:2em 1.5em 2em 1.5em;
        		text-align:center;
        		.transition( padding-left 0.5s );
	        	&:before{
			        position:absolute;
			        z-index:10;
			        opacity:0.6;

                    bottom: 0.5em;
                    font-size:3em;
                    right: 0.5em;

                    color:@blanc;
			        .fontcustom;
			        .transition( all 0.5s );

			        opacity:0;
		        }

		        &:hover{
		         	padding-left:0;
		        	&:before{
		        		opacity: 0.4;
		        		color:@blanc;
		        		.transform( scale( 2.5 ) );
                    }
		        }
            }
            //Ajustements pour certain picto svg
            > span.icon-moi:before, > span.icon-parcours:before, span.icon-bubbles:before{
                font-size:1.5em;
                bottom: 2em;
                right: 2em;
            }
        }
        a:nth-child( 2n + 1 ){
            &:hover{
                background: darken( @chatelle, 30 );
            }
        }
        a.active:nth-child( 2n + 1 ){
            background: none;
            .shadow( 0px 0px 0px 0px );
        }

    }
}

.full{
	.clearfix;
	position:relative;
    padding:3em 1em 1em 1em;
    z-index:100;
    > h1{
        font-size:2.5em;
        margin : 0 0 0.5em 0.5em
    }
    background:url('/bundles/portfolio/images/background/background.jpg');
}

#main > footer{
    border-top:1px solid darken( @glacier, 20 );
    position:relative;
    padding:1em 0 1em 0;
    .clearfix;
    z-index: 100;
     clear:both;
    #gradient .vertical( @dimgray, @fuscousgrey );
    .opensanslight();

    &:before{
		position:absolute;
		top:0;
		width:100%;
		height:1em;
		#gradient .vertical( darken( @glacier, 10), darken( @glacier, 20) );
		border-top:1px solid lighten( @glacier, 20 );
		border-bottom:1px solid darken( @glacier, 40 );
		content:'';
	}

    > .sharebar{
    	position:absolute;
    	top:-1.25em;
    	margin:0;
    	padding:0;
    	margin: 0 0 0 1em;

    	li:before{
    		color:lighten( @dimgray, 10 );
    		width:2em;
    		font-size:2em;
    	}

    	> li{
    		float:left;
    		width:40px;
    		height:40px;
    		.transition( all 0.5s );
    		&:hover{
    			.transform( scale( 1.25 ) );
    		}
    	}
    }

	> #pied_page{
		clear:both;
		float:right;
		font-size:0.8em;
		color:lighten( @gris-clair, 40 );
		.text-shadow( -3px 1px 5px rgba(102, 90, 74, 1) );
	}

    #twitter{
        ul {
            margin: 0;
            padding: 0;
            li{
                border-top: 1px solid lighten( @dimgray, 5 );
                padding: 1em 0 1em 0;
                article {
                    padding: 0.5em;
                    time{
                        color: @olive;
                    }
                    a{
                        color: @glacier;
                        .transition( color 0.5s );
                        &:hover{
                            color: @ruby;
                        }
                    }
                }
            }
            li:first-child{
                border-top: none;
            }
        }
    }

	section{
		width:25%;
		float:left;
		padding:1em;
		border-right:1px solid lighten( @dimgray, 5 );
		height:100%;
		margin:1.5em 0 0 0;
        color:@blanc;

        > h1{
            font-size:1.3em;
			color: lighten( @gris-clair, 25 );
			padding:0 0 0.5em 0;
			margin:0 0 0.5em 0;
			line-height:1.4em;
			border-bottom:1px solid lighten( @gris-clair, 25 );
		}
		> .liste{
			margin:0;
			padding:0;
			> li{
				text-align:left;
				> a{
					font-size:1.1em;
					letter-spacing:0.05em;
                    color:@blanc;

					.transition( all 0.5s );


					&:before{
						.fontcustom;
						content: "\f100";
						.inline-block;
						font-size:0.6em;
						vertical-align:middle;
						padding-right:0.5em;
						padding-bottom:0.1em;
					}
					&:hover{
						color: lighten( @ruby, 10 );
						padding-left:0.5em;

						&:before{
                            color: @ruby;
						}
					}
				}
			}
		}
	}
}

/*****************/
/*    MOBILE     */
/*****************/

@media screen and (max-width: 760px) {
    h1{
        font-size: 1.6em;
    }

    .full{
        > h1{
            margin: 0;
        }
    }

	#main > header{
		.titres{
			float:none;
			width:100%;
			text-align:center;
			margin-top:1em;
			padding:0;
		}
        &:after{
            content: none;
        }
        nav{
            float: none;
            width: auto;
        }
        
        .translation{
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5em;
            margin: 0 1em 0 0;
            width: 20%;
            img{
                width: 50%;
            }
        }
	}

	ul#main-menu{
		float:none;
		width:100%;
		margin:2em 0 0 0;
		padding:0.5em;
        border-radius: 255px;
        background: @gris-clair;
		li{
			float:none;
            margin: 0.25em 0 0.25em 2%;
            width: 96%;
			border-top:1px solid darken( @glacier, 40 );
			#gradient .vertical( darken( @glacier, 10),  darken( @glacier, 30 ) );
            .border-radius( 3px );

			> a{
    			color:@blanc;
    			.transition( none );

    			&:hover{
    			    .shadow( 0px 0px 0px 0px #FFF );
    			}

                &.active{
                    color: @blanc;
                    > span{
                        #gradient .vertical( darken( @glacier, 10),  darken( @glacier, 20 ) );
                        &:before{
                            color: @blanc;
                            left: 60%;
                            right: auto;
                            top: 0.25em;
                            .transform( scale( 2 ) );
                        }
                    }
                }

    			> span{
    			    .transition( none );
    			    padding:1.5em;

        			&:hover{
                        #gradient .vertical( darken( @glacier, 10),  darken( @glacier, 20 ) );
                        padding-left:1.5em;

    			        &:before{
                            display:none;
                        }
                    }
                    &.icon-accueil{
                        //Padding d'un em en plus a cause de la barre
                        padding:2em 1.5em 1.5em 1.5em;
                    }
    			}
			}
		}
		li:first-child{
			border-top:none;
		}
	}

	#main > footer{

        section{
            float:none;
            width:100%;
            padding: 0.5em 1em;
            li{
                padding: 0;
            }
        }
        .sharebar{
            li{
                margin: 0 1em 0 0;
            }
        }
    }
}

/*****************/
/*    TABLETTE   */
/*****************/

@media screen and (min-width: 760px) and (max-width: 1330px) {

    #main > header {
        .titres{
            width:100%;
            text-align: center;
        }
        nav{
            float: none;
            width: auto;
        }

        .translation{
            position: absolute;
            top: 0;
            right: 0;
            width: 20%;
        }
    }

    ul#main-menu{
        width:100%;
        margin: 0;
        padding: 0;
        li a, li a.active{
            font-size:1em;
        }
    }

    #main > footer{
        section{
            width: 50%;
        }
        .sharebar{
            li{
                margin: 0 1em 0 0;
            }
        }
    }
}
