.border( @radius )
{
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius;
    -o-border-radius:@radius;
    border-radius:@radius;
}

.shadow( @shadow )
{
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    -o-box-shadow: @shadow;
    box-shadow: @shadow;
}