@import 'variables.less';
@import 'mixins.less';
@import 'fontcustom.less';

.full-cv{

    #experiences, #etude{
        > ul{
            > li{

                 &:before{
                    content:none;
                 }

                .exp_pro,
                .exp_etude{
                    margin:1em 0 0 0;
                    width:100%;

                    .clearfix;
                    header{
                        position:relative;

                        h1{
                            .opensansbold( 1.6em );
                            color:@glacier;
                            letter-spacing:0em;
                            border-color: @glacier;
                        }
                        time{
                            position:absolute;
                            bottom:0.8em;
                            font-size:1.3em;
                            right:0;
                            top: 0.2em;
                            color: @glacier;
                        }
                    }
                    .visuel, .content{
                        float:left;
                    }
                    .visuel{
                        width:33.333333%;
                        border: 1px solid @gris-clair;
                        margin: 0.5em 0 0;
                    }
                    .content{
                        width:66.666666%;
                        padding:0 0 0.5em 0.5em;
                    }
                }
            }
        }
    }
}

