@import 'variables.less';
@import 'mixins.less';
@import 'fontcustom.less';

/*******************/
/* DESKTOP VERSION */
/*******************/


.list-projet{
	.clearfix;
	color:@blanc;
	li{
		position:relative;
		width:100% / 4 - 2;
		margin:1%;
		float:left;
		z-index:100;

		font-size:1.1em;
		letter-spacing:0.05em;

		border-right:1px solid @olive;
	}
	li:last-child{
		border-left:none;
	}
}

.projet{
    .visuel{
    	width:100%;

    	position:relative;
    	overflow:hidden;

     	img{
    		width:100%;
    	}
    	figcaption{
			position:absolute;
	    	top:84%;
	    	z-index:10;
	    	opacity:0.7;
	    	width:100%;
	    	height:100%;
	    	background:darken( @chatelle, 40 );
			.transition( all .3s ease-in-out );
	    	h1{
	    		padding:0.5em 0 0.5em 1em;
	    		color: lighten( @chatelle, 10 );
	    		border-bottom:1px solid @chatelle;
	    		margin:0 0 0.5em 0;
	    		font-size:1.4em;

	    	}
	    	.accroche{
	    		position:relative;
	    		border:none;
	    		padding: 0.5em 1em;
	    	}
	    }
    	&:hover{
			figcaption{
				top:0;
			}
		}
    }  
}

/*****************/
/*    MOBILE     */
/*****************/

@media screen and (max-width: 760px) {
    .list-projet{
        li{
            float: none;
            width: 100%;
        }
    }
    .projet{
        .visuel{
            &:hover{
                figcaption{
                    top: 84%;
                }
            }
        }
    }
}

/*****************/
/*    TABLETTE   */
/*****************/

@media screen and (min-width: 760px) and (max-width: 1600px) {

}