@import 'variables.less';

.projet{
    //Pour trois blocs sur la même ligne : moins les margin
    width:( 100% - 20% ) / 3;
    margin:0 10% 0 0;
    float:left;
    
    border:1px solid @gris-fonce;
    .accroche{
        padding:1em;
    }
}