@import 'variables.less';
@import 'mixins.less';
@import 'fontcustom.less';

/*******************/
/* DESKTOP VERSION */
/*******************/


.full-projets{

    .list-groupe{
        .border-radius( 3px );
        background: lighten( @gris-clair, 5 );
        margin: 0 5% 0 5%;
        a.groupe, > span{
            .opensansregular( 1.2em );
            font-weight: bolder;
        }
        > span{
            padding: 1.5em;
            #gradient .vertical( lighten( @glacier, 10 ), @glacier );
            color: lighten( @gris-clair, 10 );
            .border-radius( 0px 60px 60px 0px );
            border-right: 8px solid lighten( @glacier, 10 );
            line-height: 1.5em;
        }
        a.groupe{
            padding: 1.25em;
            display: inline-block;
            color: darken( @gris-clair, 20 );
            .border-radius( 5px );
            border: 1px solid lighten( @gris-clair, 5 );

            .transition( all 0.5s );
            &:hover, &.active{
                color: @blanc;
                border: 1px solid ;
            }

            &.active{
                border-color: darken( @olive, 10 );
                #gradient .vertical( lighten( @olive, 10 ), @olive );
            }

            &:hover{
                border-color: darken( @glacier, 10 );
                #gradient .vertical( lighten( @glacier, 10 ), @glacier );
            }
        }
        a.all{
            float: right;
        }
    }

    .list-projet{
        .clearfix;
        color:@blanc;
        li{
            position:relative;
            width:100% / 4 - 2;
            margin:1%;
            float:left;
            z-index:100;

            font-size:1.1em;
            letter-spacing:0.05em;
        }
        li:last-child{
            border-left:none;
        }
    }

    .projet{
        //On n'affiche pas les projets au chargement de page - ils sont chargés en js
        display: none;
        .visuel{
            width:100%;

            position:relative;
            overflow:hidden;

            img{
                width:100%;
            }
            figcaption{
                position:absolute;
                top:84%;
                z-index:10;
                opacity:0.9;
                width:100%;
                height:100%;
                background:@glacier;
                .transition( all .3s ease-in-out );
                h1{
                    padding: 3% 0 3.5% 1em;
                    color: @blanc;
                    border-bottom:1px solid @blanc;
                    font-size:1.4em;
                    margin: 0 0 0.25em 0;
                }
                .accroche{
                    .opensansregular( 1.1em );
                    position:relative;
                    border:none;
                    padding: 0.5em 1em;
                    margin: 0;
                    color: @blanc;
                    text-overflow: ellipsis;
                    font-weight: bolder;
                }
            }
            &:hover{
                figcaption{
                    top:0;
                }
            }
        }
    }
}

// Animation des projets

.projet-hidden {
    -webkit-animation: scaleRotateOut 0.6s forwards;
    animation: scaleRotateOut 0.6s forwards;
}

.projet-active{
    opacity: 0;
    -webkit-animation: scaleRotateIn 0.6s forwards;
    animation: scaleRotateIn 0.6s forwards;
}

@-webkit-keyframes scaleRotateOut {
    100% { opacity: 0; -webkit-transform: scale(0); }
}

@keyframes scaleRotateOut {
    100% { opacity: 0; transform: scale(0); }
}

@-webkit-keyframes scaleRotateIn {
    0% { opacity: 0; -webkit-transform: translateX(50%) translateY(100%) rotate(25deg); }
    100% { visibility: visible; opacity: 1; -webkit-transform: translateX(0%) translateY(0%) rotate(0deg); }
}

@keyframes scaleRotateIn {
    0% { opacity: 0; transform: translateX(50%) translateY(100%) rotate(25deg); }
    100% { visibility: visible; opacity: 1; transform: translateX(0%) translateY(0%) rotate(0deg); }
}

/*****************/
/*    TABLETTE   */
/*****************/

@media screen and (min-width: 760px) and (max-width: 1330px) {
    .full-projets{
        .list-groupe{

            a.groupe, > span{
                .opensansregular( 1em );
            }

            a.groupe{
                padding: 1em 0.5em 1em 0.5em;
                margin: 0 0 0 0.5em;
            }

            a.all{
                float: none;
            }
        }
       .list-projet{
            li{
                width: 48%;
            }
        }
    }
}

/*****************/
/*    MOBILE     */
/*****************/

@media screen and (max-width: 760px) {
    .full-projets{
        .list-groupe{
            background: none;
            margin: 5%;

            a.groupe, > span{
                display: block;
                padding: 0.5em;
            }

            > span{
                .border-radius( 60px 60px 60px 60px );
                border: 8px solid lighten( @glacier, 10 );
                text-align: center;
            }

            a.all{
                float: none;
            }
        }
        .list-projet{
            margin: 0;
            padding: 0;
            li{
                margin: 1.5em 0 1.5em 0;
                border-bottom: 1px solid @gris-fonce;
                float: none;
                width: 100%;
            }
        }
        .projet{
            .visuel{
                &:hover{
                    figcaption{
                        top: 84%;
                    }
                }
            }
        }
    }
}
