@noir:#000000;
@blanc:#ffffff;

@gris-clair:#D0D0CC;
@gris-fonce:#45443F;

@olive:#78C678;

@chatelle:#B0AFBD;
@glacier:#81ADC8;

@tomatoes:#D66B68;
@ruby:#ea4f4f;

@dimgray:#555555;
@fuscousgrey:#414141;
@fleche:'◢';

@contessa:#BE6C57;