@import 'variables.less';
@import 'mixins.less';
@import 'fontcustom.less';

.full-cv{
    
    > h1{
        width:70%;
        .opensansbold( 1.5em);
        border-bottom:1px solid @elpaso;
        padding:0 0 0.5em 0;
        margin:0.5em 0 0.5em 0.5em;
        clear:both;
        display:block;
    }
    
    #experiences, #etude, #exp_comp, #competence{
        width:50%;   
    }
    #experiences, #etude, #exp_comp, #competence, #qualite-defaut{
        padding:1em;
    }
    #experiences{
       
        .exp_pro{
            position:relative;
            margin:1em 0 0 0;
            
            .clearfix;
            header{
                time{
                    position:absolute;
                    top:0;
                    right:0;
                }
            }
            .visuel, .content{
                float:left;
            }
            .visuel{
                width:33.333333%;
            }
            .content{
                width:66.666666%;
                padding:0 0 0.5em 0.5em;
            }
        }
    }
    
    
    #qualite-defaut{
        width:100%;
        
        #qualite, #defaut{
            width:50%;
            float:left;
        }
    }
}