@noir:#000000;
@blanc:#ffffff;

@gris-clair:#D0D0CC;
@gris-fonce:#45443F;

@elpaso:#3A3728;
@brownderby:#574537;
@makara:#665A4A;
@granitgreen:#8E8367;
@eagle:#ADA58E;
@limedhash:#E6E8E3;
@geyser:#C6CCCC;
@chatelle:#B0AFBD;
@jetstream:#B7CBD6;
@glacier:#81ADC8;

@dimgray:#555555;
@fuscousgrey:#414141;
@fleche:'◢';

@contessa:#BE6C57;