<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fr"> <!--<![endif]-->
<head>
	{% include 'PortfolioBundle::head.html.twig' %}
</head>
<body>
    <div id="main">
    	<!-- HEADER -->
    	{% include 'PortfolioBundle:Include:header.html.twig' %}

    	<!-- BODY -->
    	{% block body %} {% endblock %}

    	<!-- FOOTER -->
    	{% include 'PortfolioBundle:Include:footer.html.twig' %}

    	<!-- SCRIPTS -->
    </div>
{% include 'PortfolioBundle:Include:scripts.html.twig' %}
    
</body>
</html>