	<meta charset="utf-8">
	<title>Matthieu CNEUDE</title>
	<meta name="description" content="">
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<!-- KNACSS en premier pour reseter les styles -->
	<link href="{{ asset('/css/knacss.css') }}" rel="stylesheet" type="text/css" />
		
	{% stylesheets
    '@PortfolioBundle/Resources/public/less/all.less'
    filter='less'
    output='css/stylesheet.css'
	%}
	        <link href="{{ asset_url }}" rel="stylesheet" media="screen" type="text/css" />
	{% endstylesheets %}
	