	<meta charset="utf-8">
	<title>Matthieu CNEUDE</title>
	<meta name="description" content="">
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- KNACSS en premier pour reseter les styles -->

	{% stylesheets
	    '@PortfolioBundle/Resources/public/css/*'
	    
		'@PortfolioBundle/Resources/public/less/fontcustom.less'
		'@PortfolioBundle/Resources/public/less/variables.less'
	    '@PortfolioBundle/Resources/public/less/layout.less'
	    '@PortfolioBundle/Resources/public/less/projet.less'
	    '@PortfolioBundle/Resources/public/less/content.less'
	    '@PortfolioBundle/Resources/public/less/sequencejs.less'
	    
	    '@PortfolioBundle/Resources/public/less/home.less'
	    
	    filter='less'
	    output='css/stylesheet.css'
	%}
	        <link href="{{ asset_url }}" rel="stylesheet" media="screen" type="text/css" />
	{% endstylesheets %}
