	<meta charset="utf-8">
	<title>Portfolio - Matthieu CNEUDE</title>
    <meta charset="utf-8">

    <meta name="description" content="{{ "meta.description" | trans }}">
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- KNACSS en premier pour reseter les styles -->

	{% stylesheets
	    '@PortfolioBundle/Resources/public/css/*'
		'@PortfolioBundle/Resources/public/less/main.less'
	    filter='less,?yui_css'
	    output='css/stylesheet.css'
	%}
	        <link href="{{ asset_url }}" rel="stylesheet" media="screen" type="text/css" />
	{% endstylesheets %}

        <script type="text/javascript" src="/bundles/portfolio/js/modernizr.js"></script>
