{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}

    <div class="full full-cv">
        <h1>Parcours</h1>

        <article class="content box" id="experiences">
            <header>
                <h1>Expériences professionnelles</h1>

                <div classe="accroche">Mes expériences professionnelles au cour du temps</div>
            </header>
            <ul>
                <li>
                    <section class="exp_pro">
                        <header>
                            <h1>Heliopsis</h1>
                            <time>12 juin 2013</time>
                        </header>
                        <div class="visuel"><img src="/bundles/portfolio/images/heliopsis-logo.png"
                                                 alt="Heliopsis"/></div>
                        <div class="content">Ceci est l'entreprise Heliopsis</div>
                    </section>
                </li>

                <li>
                    <section class="exp_pro">
                        <header>
                            <h1>Autre entreprise</h1>
                            <time class="rouge bold">12 juin 2013</time>
                        </header>
                        <div class="visuel"><img src="/bundles/portfolio/images/heliopsis-logo.png"
                                                 alt="Heliopsis"/></div>
                        <div class="content">Une autre entreprise !</div>
                    </section>
                </li>

                <li>
                    <section class="exp_pro">
                        <header>
                            <h1>Heliopsis</h1>
                            <time>12 juin 2013</time>
                        </header>
                        <div class="visuel"><img src="/bundles/portfolio/images/heliopsis-logo.png"
                                                 alt="Heliopsis"/></div>
                        <div class="content">Ceci est l'entreprise Heliopsis</div>
                    </section>
                </li>
            </ul>
        </article>
        <article class="content box" id="etude">
            <header>
                <h1>Etudes réalisés</h1>

                <div class="accroche">J'ai un parcours de fou</div>
            </header>
            <ul>
                <li>
                    <section class="exp_etude">
                        <header>
                            <h1>Licence multimedia Mende</h1>
                            <time class="rouge bold">12 juin 2013</time>
                        </header>
                        <div class="visuel"><img src="/bundles/portfolio/images/heliopsis-logo.png"
                                                 alt="Heliopsis"/></div>
                        <div class="content">Ceci est l'entreprise Heliopsis</div>
                    </section>
                </li>

                <li>
                    <section class="exp_etude">
                        <header>
                            <h1>BTS</h1>
                        </header>
                        <div class="visuel"><img src="/bundles/portfolio/images/heliopsis-logo.png"
                                                 alt="Heliopsis"/></div>
                        <div class="content">Une autre entreprise !</div>
                    </section>
                </li>

                <li>
                    <section class="exp_etude">
                        <header>
                            <h1>College</h1>
                        </header>
                        <div class="visuel"><img src="/bundles/portfolio/images/heliopsis-logo.png"
                                                 alt="Heliopsis"/></div>
                        <div class="content">Ceci est l'entreprise Heliopsis</div>
                    </section>
                </li>
            </ul>
        </article>

        <article class="content middle" id="exp_comp">
            <header>
                <h1>Expériences complémentaires</h1>

                <div class="accroche">Compétences ne sont rien si l'employé n'est pas adapaté aux valeurs
                    de l'entreprise...
                </div>
            </header>
            <ul>
                <li>mac Do</li>
                <li>Glander</li>
                <li>Jouer à SFIV</li>
                <li>Autres...</li>
            </ul>
        </article>

    </div>

{% endblock %}