{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}

    <div class="full full-projets">
        <h1>Projets</h1>
        {% if projets is not null %}
            <ul class="list-projet">
                {% for projet in projets  %}
                    <li>
                        <article class="projet">
                            <a href="#">
                                <figure class="visuel">
                                    <img src="/bundles/portfolio/images{{ projet.urlMiniature }}" alt="visuel"/>
                                    <figcaption>
                                        <h1>{{ projet.nom }}</h1>

                                        <div class="accroche">
                                            {{ projet.description | raw }}
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}