{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'PortfolioBundle::base.html.twig' %}


{% block body %}

    <div class="full full-quisuisje">
        <h1>Qui suis-je ?</h1>

        <article class="middle content">
            <header>
                <h1>Pourquoi développeur web ?</h1>
            </header>
            <div class="content">
                {{ pourquoi }}
            </div>
        </article>

        <div class="row">
            <article class="content box" id="competence">
                <header>
                    <h1>Compétences</h1>

                    <div class="accroche">J'ai un parcours de fou</div>
                </header>

                <section id="langages">
                    <ul>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>Plein de choses c'est fou</li>
                    </ul>
                </section>
                <section id="communication">
                    <ul>
                        <li>Je sais parler</li>
                        <li>je sais embobiner les gens</li>
                        <li>vive la communication !</li>
                    </ul>
                </section>
            </article>

            <article class="content box">
                <header>
                    <h1>Methodes de conception.</h1>
                </header>
                <div class="content">
                    <ul>
                        <li>Coder</li>
                        <li>Réfléchir</li>
                        <li>Aimer</li>
                    </ul>
                </div>
            </article>
        </div>

        <div class="row">
            <article class="content box">
                <header>
                    <h1>Politique / Workflow</h1>
                </header>
                <div class="content">
                    <ul>
                        <li>Coder</li>
                        <li>Réfléchir</li>
                        <li>Aimer</li>
                    </ul>
                </div>
            </article>

            <article class="content box">
                <header>
                    <h1>Informations complémentaires</h1>
                </header>
                <div class="content">
                    <ul>
                        <li>Coder</li>
                        <li>Réfléchir</li>
                        <li>Aimer</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>

{% endblock %}