@font-face {
  font-family: 'opensanslight';
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Light-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansbold';
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansitalic';
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'felltypes';
  src: url('/bundles/portfolio/font/IMFeENrm29P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
  Font Custom - icon webfonts made simple
*/
@font-face {
  font-family: "fontcustom";
  src: url("/bundles/portfolio/font/fontcustom-669d4945711e49d311a42f2ca023e9e6.eot?#iefix") format("embedded-opentype"), url("/bundles/portfolio/font/fontcustom-669d4945711e49d311a42f2ca023e9e6.woff") format("woff"), url("/bundles/portfolio/font/fontcustom-669d4945711e49d311a42f2ca023e9e6.ttf") format("truetype"), url("/bundles/portfolio/font/fontcustom-669d4945711e49d311a42f2ca023e9e6.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fontcustom {
  font-family: "fontcustom";
}
/*
  Bootstrap Overrides
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}
/* keeps button heights with and without icons the same */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  line-height: 0.9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}
/*
  Icon Classes
*/
.icon-moi:before {
  content: "\f100";
}
.icon-telephone:before {
  content: "\f101";
}
.icon-projets:before {
  content: "\f102";
}
.icon-arrow_right:before {
  content: "\f103";
}
.icon-accueil:before {
  content: "\f104";
}
.icon-parcours:before {
  content: "\f105";
}
.content {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content .italic {
  font-family: "opensansitalic", Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2em;
}
.content .underline {
  text-decoration: underline;
}
.content a {
  border-bottom: 1px dotted #81adc8;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.content a:hover {
  color: #9493a6;
  border-color: #9493a6;
}
.content strong {
  color: #be6c57;
}
.content ul {
  margin: 0;
  padding: 0;
}
.content ul li:before {
  -ms-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: '◢';
  color: #b7cbd6;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 0.8em;
  vertical-align: top;
  padding-right: 0.5em;
}
.content h1 {
  padding: 0 0 0.5em 0;
  margin: 0 0 0.5em 0;
  border-bottom: 1px solid #3a3728;
}
.content section {
  float: left;
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2em;
  padding: 1em;
  font-size: 1.25em;
  color: #555555;
}
.content div {
  letter-spacing: 0.03em;
  line-height: 1.5em;
  float: left;
  padding: 0 0.25em 0 0;
}
.content.middle section {
  margin: 0 25% 0 25%;
}
.content_2col section {
  width: 50%;
  font-size: 1.2em;
  letter-spacing: 0.04em;
}
.content_4col section {
  width: 25%;
  font-size: 1.2em;
}
.content_2x2col section {
  width: 50%;
  font-size: 1.2em;
}
.content_2x2col div {
  width: 50%;
  padding: 0 1.25em 0 0;
}
.content_2x4col section {
  width: 50%;
  font-size: 1.2em;
}
.content_2x4col div {
  width: 25%;
  padding: 0 1.25em 0 0;
}
