@font-face {
  font-family: 'opensanslight';
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Light-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansbold';
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansitalic';
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
  Font Custom - icon webfonts made simple
*/
@font-face {
  font-family: "fontcustom";
  src: url("/bundles/portfolio/font/fontcustom-b6077bd6168bb0a1d2130f5f197364f0.eot?#iefix") format("embedded-opentype"), url("/bundles/portfolio/font/fontcustom-b6077bd6168bb0a1d2130f5f197364f0.woff") format("woff"), url("/bundles/portfolio/font/fontcustom-b6077bd6168bb0a1d2130f5f197364f0.ttf") format("truetype"), url("/bundles/portfolio/font/fontcustom-b6077bd6168bb0a1d2130f5f197364f0.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fontcustom {
  font-family: "fontcustom";
}
/*
  Bootstrap Overrides
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}
/* keeps button heights with and without icons the same */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  line-height: 0.9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}
/*
  Icon Classes
*/
.icon-phone:before {
  content: "\f100";
}
.icon-graph:before {
  content: "\f101";
}
.icon-home:before {
  content: "\f102";
}
.icon-reddit:before {
  content: "\f103";
}
.icon-slideshare:before {
  content: "\f104";
}
.icon-tasks:before {
  content: "\f105";
}
body {
  width: 100%;
  background: #FFF6A5;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ababab;
}
#main {
  background: #FFFFFF;
}
#main > header {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
#main > header:before,
#main > header:after {
  content: "";
  display: table;
}
#main > header:after {
  clear: both;
}
.full {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
  padding: 1em;
  margin-top: 8em;
}
.full:before,
.full:after {
  content: "";
  display: table;
}
.full:after {
  clear: both;
}
#main > footer {
  border: 1px solid #000000;
  padding: 1em;
  text-align: center;
}
#main-menu {
  width: 50%;
  float: right;
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
#main-menu:before,
#main-menu:after {
  content: "";
  display: table;
}
#main-menu:after {
  clear: both;
}
#main-menu > li {
  float: left;
  width: 20%;
  position: relative;
}
#main-menu > li:before {
  position: absolute;
  width: 2em;
  bottom: -0.5em;
  right: 0;
  font-size: 2em;
  color: #ffffff;
  font-family: "fontcustom";
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu > li:hover:before {
  color: #FFF;
  transform: scale(3.2);
  -ms-transform: scale(3.2);
  /* IE 9 */

  -webkit-transform: scale(3.2);
  /* Safari and Chrome */

  -o-transform: scale(3.2);
  /* Opera */

  -moz-transform: scale(3.2);
  /* Firefox */

}
#main-menu > li > a {
  display: block;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.2em;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
#main-menu > li > a span {
  display: block;
  position: relative;
  padding: 1.5em;
}
#main-menu > li > a:hover {
  font-family: "opensansbold", Arial, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.2em;
  margin-top: 0;
  background: #D4D8DB;
  color: #465A7B;
  -webkit-box-shadow: 0px 0px 20px 5px #dbdbdb;
  -moz-box-shadow: 0px 0px 20px 5px #dbdbdb;
  -o-box-shadow: 0px 0px 20px 5px #dbdbdb;
  box-shadow: 0px 0px 20px 5px #dbdbdb;
}
footer {
  clear: both;
}
