@font-face {
  font-family: 'opensanslight';
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Light-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansbold';
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansitalic';
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'felltypes';
  src: url('/bundles/portfolio/font/IMFeENrm29P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
  Font Custom - icon webfonts made simple
*/
@font-face {
  font-family: "fontcustom";
  src: url("/bundles/portfolio/font/fontcustom-2ecb52e7143b8fc3003cc1536796d621.eot?#iefix") format("embedded-opentype"), url("/bundles/portfolio/font/fontcustom-2ecb52e7143b8fc3003cc1536796d621.woff") format("woff"), url("/bundles/portfolio/font/fontcustom-2ecb52e7143b8fc3003cc1536796d621.ttf") format("truetype"), url("/bundles/portfolio/font/fontcustom-2ecb52e7143b8fc3003cc1536796d621.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fontcustom {
  font-family: "fontcustom";
}
/*
  Bootstrap Overrides
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}
/* keeps button heights with and without icons the same */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  line-height: 0.9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}
/*
  Icon Classes
*/
.icon-viadeo-favicon:before {
  content: "\f100";
}
.icon-linkedin:before {
  content: "\f101";
}
.icon-facebook:before {
  content: "\f102";
}
.icon-phone:before {
  content: "\f103";
}
.icon-graph:before {
  content: "\f104";
}
.icon-home:before {
  content: "\f105";
}
.icon-skype:before {
  content: "\f106";
}
.icon-fc-webicon-twitter:before {
  content: "\f107";
}
.icon-googleplus:before {
  content: "\f108";
}
.icon-reddit:before {
  content: "\f109";
}
.icon-slideshare:before {
  content: "\f10a";
}
.content_2col {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.content_2col:before,
.content_2col:after {
  content: "";
  display: table;
}
.content_2col:after {
  clear: both;
}
.content_2col h1 {
  padding: 0 0 0.5em 0;
  margin: 0 0 0.5em 0;
  border-bottom: 1px solid #3a3728;
}
.content_2col section {
  float: left;
  width: 50%;
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2em;
  padding: 1em;
  font-size: 1.2em;
  color: #555555;
}
.content_2col div {
  letter-spacing: 0.03em;
  line-height: 1.3em;
}
.content_4col {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.content_4col:before,
.content_4col:after {
  content: "";
  display: table;
}
.content_4col:after {
  clear: both;
}
.content_4col h1 {
  padding: 0 0 0.5em 0;
  margin: 0 0 0.5em 0;
  border-bottom: 1px solid #3a3728;
}
.content_4col section {
  float: left;
  width: 25%;
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2em;
  padding: 1em;
  font-size: 1.2em;
  color: #555555;
}
.content_4col div {
  letter-spacing: 0.03em;
  line-height: 1.3em;
}
.border {
  border-right: 1px solid #665a4a;
  color: red;
}
