@font-face {
  font-family: 'opensanslight';
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Light-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansbold';
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansitalic';
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'felltypes';
  src: url('/bundles/portfolio/font/IMFeENrm29P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
  Font Custom - icon webfonts made simple
*/
@font-face {
  font-family: "fontcustom";
  src: url("/bundles/portfolio/font/fontcustom-bfc04200d2b7d3c7cae377cedc6d4598.eot?#iefix") format("embedded-opentype"), url("/bundles/portfolio/font/fontcustom-bfc04200d2b7d3c7cae377cedc6d4598.woff") format("woff"), url("/bundles/portfolio/font/fontcustom-bfc04200d2b7d3c7cae377cedc6d4598.ttf") format("truetype"), url("/bundles/portfolio/font/fontcustom-bfc04200d2b7d3c7cae377cedc6d4598.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fontcustom {
  font-family: "fontcustom";
}
/*
  Bootstrap Overrides
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}
/* keeps button heights with and without icons the same */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  line-height: 0.9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}
/*
  Icon Classes
*/
.icon-moi:before {
  content: "\f100";
}
.icon-arrow_right:before {
  content: "\f101";
}
.icon-telephone:before {
  content: "\f102";
}
.icon-projets:before {
  content: "\f103";
}
.icon-accueil:before {
  content: "\f104";
}
.icon-parcours:before {
  content: "\f105";
}
.icon-footer_arrow_right:before {
  content: "\f106";
}
/*****************/
/*    DESKTOP    */
/*****************/
body {
  width: 100%;
  background: #81adc8;
  position: relative;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #81adc8;
}
h2,
h3,
h4,
p {
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2em;
}
h1 {
  font-family: "opensansbold", Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2em;
  font-size: 1.8em;
  color: #79778f;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 1.3em;
  color: #665a4a;
  letter-spacing: 0.05em;
}
h3 {
  font-size: 1.1em;
  color: #8e8367;
  letter-spacing: 0.03em;
}
h4 {
  font-size: 1em;
  text-decoration: underline;
  color: #ada58e;
}
.brown {
  color: #574537;
}
img {
  width: 100%;
}
#main {
  position: relative;
  background: #ffffff;
}
#main:before {
  position: absolute;
  z-index: 1000;
  top: 6.333333em;
  width: 100%;
  height: 1em;
  background-color: #457c9e;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5d96b9), to(#457c9e));
  /* Konqueror */

  background-image: -moz-linear-gradient(#5d96b9, #457c9e);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#5d96b9, #457c9e);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d96b9), color-stop(100%, #457c9e));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#5d96b9, #457c9e);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#5d96b9, #457c9e);
  /* Opera 11.10 */

  -pie-background: linear-gradient(#5d96b9, #457c9e);
  behavior: none;
  background-image: linear-gradient(#5d96b9, #457c9e);
  /* the standard */

  -ms-box-shadow: 0px 0px 10px 10px rgba(175, 175, 175, 0.3);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(175, 175, 175, 0.3);
  -moz-box-shadow: 0px 0px 10px 10px rgba(175, 175, 175, 0.3);
  -o-box-shadow: 0px 0px 10px 10px rgba(175, 175, 175, 0.3);
  box-shadow: 0px 0px 10px 10px rgba(175, 175, 175, 0.3);
  border-top: 1px solid #c8dbe7;
  content: '';
}
#main > header {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
  clear: both;
  border-bottom: 1px solid #457c9e;
  border-top: 1px solid #2b291e;
  margin: 1em 0 0 0;
  position: relative;
  height: auto;
  background: -moz-linear-gradient(left, rgba(230, 232, 227, 0.54) 0%, rgba(230, 232, 227, 0.55) 1%, rgba(255, 255, 255, 0.72) 30%, rgba(255, 255, 255, 0.79) 42%, rgba(255, 255, 255, 0.79) 58%, rgba(255, 255, 255, 0.74) 66%, rgba(230, 232, 227, 0.53) 99%, rgba(230, 232, 227, 0.52) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(230, 232, 227, 0.54)), color-stop(1%, rgba(230, 232, 227, 0.55)), color-stop(30%, rgba(255, 255, 255, 0.72)), color-stop(42%, rgba(255, 255, 255, 0.79)), color-stop(58%, rgba(255, 255, 255, 0.79)), color-stop(66%, rgba(255, 255, 255, 0.74)), color-stop(99%, rgba(230, 232, 227, 0.53)), color-stop(100%, rgba(230, 232, 227, 0.52)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(230, 232, 227, 0.54) 0%, rgba(230, 232, 227, 0.55) 1%, rgba(255, 255, 255, 0.72) 30%, rgba(255, 255, 255, 0.79) 42%, rgba(255, 255, 255, 0.79) 58%, rgba(255, 255, 255, 0.74) 66%, rgba(230, 232, 227, 0.53) 99%, rgba(230, 232, 227, 0.52) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(230, 232, 227, 0.54) 0%, rgba(230, 232, 227, 0.55) 1%, rgba(255, 255, 255, 0.72) 30%, rgba(255, 255, 255, 0.79) 42%, rgba(255, 255, 255, 0.79) 58%, rgba(255, 255, 255, 0.74) 66%, rgba(230, 232, 227, 0.53) 99%, rgba(230, 232, 227, 0.52) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(230, 232, 227, 0.54) 0%, rgba(230, 232, 227, 0.55) 1%, rgba(255, 255, 255, 0.72) 30%, rgba(255, 255, 255, 0.79) 42%, rgba(255, 255, 255, 0.79) 58%, rgba(255, 255, 255, 0.74) 66%, rgba(230, 232, 227, 0.53) 99%, rgba(230, 232, 227, 0.52) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(230, 232, 227, 0.54) 0%, rgba(230, 232, 227, 0.55) 1%, rgba(255, 255, 255, 0.72) 30%, rgba(255, 255, 255, 0.79) 42%, rgba(255, 255, 255, 0.79) 58%, rgba(255, 255, 255, 0.74) 66%, rgba(230, 232, 227, 0.53) 99%, rgba(230, 232, 227, 0.52) 100%);
  /* W3C */

}
#main > header:before,
#main > header:after {
  content: "";
  display: table;
}
#main > header:after {
  clear: both;
}
#main > header:before {
  position: absolute;
  top: -1em;
  width: 100%;
  height: 1em;
  background-color: #414141;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#555555), to(#414141));
  /* Konqueror */

  background-image: -moz-linear-gradient(#555555, #414141);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#555555, #414141);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #414141));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#555555, #414141);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#555555, #414141);
  /* Opera 11.10 */

  -pie-background: linear-gradient(#555555, #414141);
  behavior: none;
  background-image: linear-gradient(#555555, #414141);
  /* the standard */

  content: '';
}
#main > header .titres {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  padding: 1.3em 1em 0.5em 1.3em;
}
#main > header .titres h1 {
  font-family: "felltypes", Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  color: #7a7970;
  -ms-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
#main > header .titres h1:hover {
  color: #45443f;
}
#main > header .titres h2 {
  font-size: 1em;
  margin: 0;
  clear: both;
  display: block;
  text-transform: uppercase;
}
#main-menu {
  width: 50%;
  float: right;
  margin: 0;
}
#main-menu > li {
  float: left;
  width: 20%;
  position: relative;
}
#main-menu > li > a {
  display: block;
  color: #574537;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2em;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#main-menu > li > a > span {
  display: block;
  position: relative;
  z-index: 100;
  width: 100%;
  padding: 2em 1.5em 2em 1.5em;
  text-align: center;
  -ms-transition: padding-left 0.5s;
  -webkit-transition: padding-left 0.5s;
  -moz-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
#main-menu > li > a > span:before {
  position: absolute;
  z-index: 10;
  opacity: 0.6;
  bottom: -1.6em;
  font-size: 3em;
  right: 15%;
  color: #ffffff;
  font-family: "fontcustom";
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition: opacity 0.5s;
  opacity: 0;
}
#main-menu > li > a > span:hover {
  padding-left: 0;
}
#main-menu > li > a > span:hover:before {
  opacity: .4;
  color: #ffffff;
  transform: scale(5);
  -ms-transform: scale(5);
  -webkit-transform: scale(5);
  -o-transform: scale(5);
  -moz-transform: scale(5);
}
#main-menu > li > a > span.icon-moi:before {
  font-size: 1.2em;
  bottom: 0;
}
#main-menu > li > a > span.icon-parcours:before {
  font-size: 0.8em;
  bottom: 1.5em;
}
#main-menu > li > a:hover {
  background: #c6cccc;
  color: #ffffff;
  -ms-box-shadow: 0px 0px 20px 5px #dbdbdb;
  -webkit-box-shadow: 0px 0px 20px 5px #dbdbdb;
  -moz-box-shadow: 0px 0px 20px 5px #dbdbdb;
  -o-box-shadow: 0px 0px 20px 5px #dbdbdb;
  box-shadow: 0px 0px 20px 5px #dbdbdb;
}
.full {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
  position: relative;
  padding: 3em 1em 1em 1em;
  z-index: 100;
}
.full:before,
.full:after {
  content: "";
  display: table;
}
.full:after {
  clear: both;
}
.full > h1 {
  font-size: 2em;
  color: #615f74;
}
#main > footer {
  border: 1px solid #3a3728;
  position: relative;
  padding: 1em 0 1em 0;
  margin: 2em 0 0 0;
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
  clear: both;
  background-color: #414141;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#555555), to(#414141));
  /* Konqueror */

  background-image: -moz-linear-gradient(#555555, #414141);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#555555, #414141);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #414141));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#555555, #414141);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#555555, #414141);
  /* Opera 11.10 */

  -pie-background: linear-gradient(#555555, #414141);
  behavior: none;
  background-image: linear-gradient(#555555, #414141);
  /* the standard */

  color: #457c9e;
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2em;
}
#main > footer:before,
#main > footer:after {
  content: "";
  display: table;
}
#main > footer:after {
  clear: both;
}
#main > footer:before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1em;
  background-color: #457c9e;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5d96b9), to(#457c9e));
  /* Konqueror */

  background-image: -moz-linear-gradient(#5d96b9, #457c9e);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#5d96b9, #457c9e);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d96b9), color-stop(100%, #457c9e));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#5d96b9, #457c9e);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#5d96b9, #457c9e);
  /* Opera 11.10 */

  -pie-background: linear-gradient(#5d96b9, #457c9e);
  behavior: none;
  background-image: linear-gradient(#5d96b9, #457c9e);
  /* the standard */

  -ms-box-shadow: 0px 3px 10px 5px rgba(175, 175, 175, 0.3);
  -webkit-box-shadow: 0px 3px 10px 5px rgba(175, 175, 175, 0.3);
  -moz-box-shadow: 0px 3px 10px 5px rgba(175, 175, 175, 0.3);
  -o-box-shadow: 0px 3px 10px 5px rgba(175, 175, 175, 0.3);
  box-shadow: 0px 3px 10px 5px rgba(175, 175, 175, 0.3);
  border-top: 1px solid #c8dbe7;
  border-bottom: 1px solid #3a3728;
  content: '';
}
#main > footer > .sharebar {
  width: 50%;
  position: absolute;
  top: -1.25em;
  margin: 0;
  padding: 0;
  margin: 0 0 0 1em;
}
#main > footer > .sharebar li:before {
  color: #6f6f6f;
  width: 2em;
  font-size: 2em;
}
#main > footer > .sharebar > li {
  float: left;
  width: 40px;
  height: 40px;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#main > footer > .sharebar > li:hover {
  transform: scale(1.25);
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -o-transform: scale(1.25);
  -moz-transform: scale(1.25);
}
#main > footer > #pied_page {
  clear: both;
  float: right;
  font-size: 0.8em;
  color: #b3a796;
  -o-text-shadow: -3px 1px 5px #665a4a;
  -moz-text-shadow: -3px 1px 5px #665a4a;
  -ms-text-shadow: -3px 1px 5px #665a4a;
  -webkit-text-shadow: -3px 1px 5px #665a4a;
  text-shadow: -3px 1px 5px #665a4a;
}
#main > footer section {
  width: 25%;
  float: left;
  padding: 1em;
  border-right: 1px solid rgba(58, 65, 40, 0.8);
  height: 100%;
  margin: 1.5em 0 0 0;
}
#main > footer section > h2 {
  color: #81adc8;
  padding: 0 0 0.5em 0;
  margin: 0 0 0.5em 0;
  line-height: 1.4em;
  border-bottom: 1px solid #81adc8;
}
#main > footer section > .liste {
  margin: 0;
  padding: 0;
}
#main > footer section > .liste > li {
  text-align: left;
}
#main > footer section > .liste > li > a {
  font-size: 1.1em;
  letter-spacing: 0.05em;
  color: #ada58e;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#main > footer section > .liste > li > a:before {
  font-family: "fontcustom";
  content: "\f106";
  color: #ada58e;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 0.6em;
  vertical-align: middle;
  padding-right: 0.5em;
  padding-bottom: 0.1em;
}
#main > footer section > .liste > li > a:hover {
  color: #b7cbd6;
  padding-left: 0.5em;
}
#main > footer section > .liste > li > a:hover:before {
  color: #b7cbd6;
}
/*****************/
/*    MOBILE     */
/*****************/
@media screen and (max-width: 760px) {
  #main > header .titres {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 1em;
    padding: 0;
  }
  #main-menu {
    float: none;
    width: 100%;
    margin: 2em 0 0 0;
    padding: 0;
  }
  #main-menu li {
    float: none;
    width: 100%;
    border-top: 1px solid #457c9e;
  }
  #main-menu li:first-child {
    border-top: none;
  }
  #main > footer section {
    float: none;
    width: 100%;
  }
  #main > footer section li {
    padding: 0 0 1em 0;
  }
}
@media screen and (min-width: 760px) and (max-width: 1600px) {
  #main > header .titres {
    width: 25%;
  }
  #main > header #main-menu {
    width: 75%;
  }
}
