@font-face {
  font-family: 'opensanslight';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansbold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansitalic';
  src: url('../fonts/OpenSans-Italic-webfont.eot');
  src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.projet {
  width: 20%;
  margin: 0 5% 0 0;
  float: left;
  -moz-border-radius: 0px 5px 0px 5px;
  -webkit-border-radius: 0px 5px 0px 5px;
  -o-border-radius: 0px 5px 0px 5px;
  border-radius: 0px 5px 0px 5px;
  -webkit-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.51);
  -o-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.51);
  border: 1px solid #ababab;
}
.projet .accroche {
  padding: 1em;
}
.projet:before {
  display: block;
  content: " ";
  width: 20%;
  height: 100%;
  background: #FFF6A5;
}
