body {
  width: 100%;
  background: #FFF6A5;
}
li {
  list-style: none;
}
#main {
  background: #FFFFFF;
}
#main > header {
  border-bottom: 1px solid #e8ddc7;
  padding: 1em;
}
#main > footer {
  height: 150px;
  border: 1px solid #000000;
  padding: 1em;
  text-align: center;
}
footer {
  clear: both;
}
