@font-face {
  font-family: 'opensanslight';
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Light-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansbold';
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensansitalic';
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot');
  src: url('/bundles/portfolio/font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.woff') format('woff'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.ttf') format('truetype'), url('/bundles/portfolio/font/OpenSans-Italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'biko';
  src: url('/bundles/portfolio/font/Biko_Bold.otf');
  src: url('/bundles/portfolio/font/Biko_Bold.otf') format('embedded-opentype'), url('/bundles/portfolio/font/Biko_Bold.otf') format('woff'), url('/bundles/portfolio/font/Biko_Bold.otf') format('truetype'), url('/bundles/portfolio/font/Biko_Bold.otf') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'felltypes';
  src: url('/bundles/portfolio/font/IMFeENrm29P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.clearfix {
  /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
  Font Custom - icon webfonts made simple
*/
@font-face {
  font-family: "fontcustom";
  src: url("/bundles/portfolio/font/fontcustom-bfc04200d2b7d3c7cae377cedc6d4598.eot?#iefix") format("embedded-opentype"), url("/bundles/portfolio/font/fontcustom-bfc04200d2b7d3c7cae377cedc6d4598.woff") format("woff"), url("/bundles/portfolio/font/fontcustom-bfc04200d2b7d3c7cae377cedc6d4598.ttf") format("truetype"), url("/bundles/portfolio/font/fontcustom-bfc04200d2b7d3c7cae377cedc6d4598.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fontcustom {
  font-family: "fontcustom";
}
/*
  Bootstrap Overrides
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}
/* keeps button heights with and without icons the same */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  line-height: 0.9em;
}
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  width: 1.875em;
}
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}
/*
  Icon Classes
*/
.icon-moi:before {
  content: "\f100";
}
.icon-arrow_right:before {
  content: "\f101";
}
.icon-telephone:before {
  content: "\f102";
}
.icon-projets:before {
  content: "\f103";
}
.icon-accueil:before {
  content: "\f104";
}
.icon-parcours:before {
  content: "\f105";
}
.icon-footer_arrow_right:before {
  content: "\f106";
}
