<footer>
	{% include 'PortfolioBundle:Include:sharebar.html.twig' %}
	
	<section>
		<h2>Sites internet</h2>
		<ul class="liste">
			<li><a href="#">Sydev</a></li>
			<li><a href="#">Sogelink</a></li>
			<li><a href="#">Sydev</a></li>
			<li><a href="#">Sogelink</a></li>
			<li><a href="#">Sydev</a></li>
			<li><a href="#">Sogelink</a></li>
			<li><a href="#">Sydev</a></li>
			<li><a href="#">Sogelink</a></li>
		</ul>
	</section>
	
	<section>
		<h2>Autres projets de développement</h2>
		<ul class="liste">
			<li><a href="#">Test 1</a></li>
			<li><a href="#">Test 2</a></li>
			<li><a href="#">Test 3</a></li>
			<li><a href="#">Test 4</a></li>
		</ul>
	</section>

	<section>
		<h2>Fichiers</h2>
		<ul class="liste">
			<li><a href="#">Test 1</a></li>
			<li><a href="#">Test 2</a></li>
			<li><a href="#">Test 3</a></li>
			<li><a href="#">Test 4</a></li>
		</ul>
	</section>
	
	<div id="pied_page">
		<p>2013 copyright Matthieu Cneude | Powered by Symfony 2</p>
	</div>	
</footer>