	<meta charset="utf-8">
	
	
	
	<title>Vintage Template</title>
	<meta name="description" content="">
	
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	{% stylesheets
    '@PortfolioBundle/Resources/public/less/*'
	    filter='less'
	    output='css/all.css'
	%}
	        <link href="{{ asset_url }}" rel="stylesheet" media="screen" type="text/css" />
	{% endstylesheets %}
	
	<!-- All JavaScript at the bottom, except this Modernizr build.
	   Modernizr enables HTML5 elements & feature detects for optimal performance.
	   Create your own custom Modernizr build: www.modernizr.com/download/ -->
	<script src="js/modernizr-2.5.3.min.js"></script>
