<header>
    <ul id="main-menu">
        <li>
            <a href="#">
            	<span class="icon-home icon-large">Accueil</span>
            </a>
        </li>
        <li>
            <a href="#">
            	<span class="icon-reddit icon-large">Qui suis-je ?</span>
            </a>
        </li>
        <li>
            <a href="#">
            	<span class="icon-tasks icon-large">Projet</span>
            </a>
        </li>
        <li>
            <a href="#">
            	<span class="icon-graph icon-large">Parcours</span>
            </a>
        </li>
        <li>
            <a href="#">
            	<span class="icon-phone icon-large">Contactez moi</span>
            </a>
        </li>
    </ul>
</header>