<header>
    <ul id="main-menu">
        <li class="icon-home icon-large">
            <a href="#">
            	<span>Accueil</span>
            </a>
        </li>
        <li class="icon-reddit icon-large">
            <a href="#">
            	<span>Qui suis-je ?</span>
            </a>
        </li>
        <li class="icon-tasks icon-large">
            <a href="#">
            	<span>Projet</span>
            </a>
        </li>
        <li class="icon-graph icon-large">
            <a href="#">
            	<span>Parcours</span>
            </a>
        </li>
        <li class="icon-phone icon-large">
            <a href="#">
            	<span>Contactez moi</span>
            </a>
        </li>
    </ul>
</header>