<header>
	<hgroup>
		<h1>Matthieu Cneude</h1>
		<h2>Intégrateur / Développeur web</h2>
	</hgroup>
	<nav>
	    <ul id="main-menu">
	        <li>
	            <a href="#">
	            	<span class="icon-accueil icon-large">Accueil</span>
	            </a>
	        </li>
	        <li>
	            <a href="#">
	            	<span class="icon-moi icon-large">Qui suis-je ?</span>
	            </a>
	        </li>
	        <li>
	            <a href="#">
	            	<span class="icon-parcours icon-large">Projet</span>
	            </a>
	        </li>
	        <li>
	            <a href="#">
	            	<span class="icon-projets icon-large">Parcours</span>
	            </a>
	        </li>
	        <li>
	            <a href="#">
	            	<span class="icon-telephone icon-large">Contactez moi</span>
	            </a>
	        </li>
	    </ul>
	</nav>
</header>