<ul class="sharebar">
	<li>
		<a href="http://www.facebook.com/sharer.php?u=<url to share>&t=<title of content>"">
			<img src="{{ asset('/bundles/portfolio/images/sharebar/facebook.png') }}" alt="Facebook" title="Partager sur Facebook" />
		</a>
	</li>
	<li>
		<a href="http://twitter.com/share"  data-url="" data-text="Partager sur twitter" data-count="horizontal" data-lang="fr">
			<img src="{{ asset('/bundles/portfolio/images/sharebar/twitter.png') }}" alt="Twitter" title="Partager sur Twitter" />
		</a>
	</li>
	<li>
		<a href="http://www.linkedin.com/shareArticle?mini=true&url={articleUrl}&title={articleTitle}&summary={articleSummary}&source={articleSource}">
			<img src="{{ asset('/bundles/portfolio/images/sharebar/linkedin.png') }}" alt="Linkedin" title="Partager sur Linkedin" />
		</a>
	</li>
	<li>
		<a href="https://plus.google.com/share?url=YOUR_URL_HERE">
			<img src="{{ asset('/bundles/portfolio/images/sharebar/google.png') }}" alt="Google +" title="Partager sur Google +" />
		</a>
	</li>
</ul>